Register swagger does not define error code 401 for requests with an invalid token

Once an access token has been retrieved, usage of the token must conform to RFC 6750 section 3, implied is that the error codes returned should conform also.

The Register swagger definition does not define error code 401 for scenarios where an invalid token is provided. This needs to be added to for clarity

This has now been resolved and documented in release 1.1.1.

Closing as complete