Client Authentication for API consumption

Commonwealth Bank are seeking confirmation from ACCC in regards to client authentication for all API consumption in the ecosystem.
Our understanding is that a typical model is described as below:
![client authetication for API consumption](https://user-images.githubusercontent.com/43626361/63999000-cdf3ce00-cb45-11e9-9f5b-487fac6fff00.jpg)

Our current understanding of the standard i.e https://consumerdatastandardsaustralia.github.io/standards/#client-authentication


API consumer | API provider | Authorisation server | Resource server
-- | -- | -- | --
Data Recipient | Data Holder | private_key_jwt | access token
Data Recipient | Registry | private_key_jwt | access token
Data Holder | Registry | private_key_jwt | access token
Registry | Data Holder | private_key_jwt | access token
Data Holder or Registry | Data Recipient | It should be the same as above but      Data61 indicated that they are not   mandating Data Recipients to have Authorisation Server / IDP.       Q: Does it mean private_key_jwt   will be presented to a resource server?        Q: Is private_key_jwt designed for   this? Is it supported?       Options to go forward:    1)       Current option – needs further clarification.   2)       Move to access token as above => ADRs need to host   3)       Remove API calls to Data Recipients

The current security profile (https://consumerdatastandardsaustralia.github.io/standards/#client-authentication) states: Data Recipients MUST support the authentication of Data Holders using the private_key_jwt Client Authentication method specified at section 9 of [OIDC]. 
 
Commonwealth Bank would recommend that for February 2020 not to mandate ADRs to host any APIs. This will reduce the build required for the data recipent and increase the likelihood of meeting February  implementation. We will address the concerns about the controls within the eco-system in the client registration discussion. 


There seems to be a mixup with the quoted section of the standards. From
[https://consumerdatastandardsaustralia.github.io/standards/#data-holders-calling-data-recipients](https://consumerdatastandardsaustralia.github.io/standards/#data-holders-calling-data-recipients), the standard states:

> Data Recipients MUST support the authentication of Data Holders using a signed JWT according to the following requirements: ... The JWT should be accepted from the client using the "Authorization Request Header Field" mechanism as described in section 2.1 of RFC6750

That aside, we have implemented end-points to require a signed bearer JWT in the authorisation header  per section 2.1 of RFC6750. We validate it according to the CDR rules.  As it currently stands, we think the design works well. Changing to Access Token would introduce unnecessary complexity for ADRs. We also think it is important to have revocation propagation remain in scope for Feb as it forms an important part of the CDR model.

Thanks for raising this question. As this is an old thread I'll close it with description and references. 

The CDR Register [security profile](https://cdr-register.github.io/register/#client-authentication) outlines the client authentication requirement here and references the [Consumer Data Standards](https://consumerdatastandardsaustralia.github.io/standards/#security-profile).

Data Recipients are not required to host infrastructure to issue access tokens. Data Recipients MUST support the authentication of Data Holders using a signed JWT