Feedback 17 - Security Profile

This thread has been created to allow for feedback on Security Profile within the CDR Ecosystem.

Details can be found at: https://cdr-register.github.io/register/#security-profile

All feedback is welcome.

I'll add more comments once I go deeper through this but let's just start with the basics....

Straight up this security profile uses `urn:ietf:params:oauth:client-assertion-type:jwt-bearer` assertion types while the Standards [explicitly and exclusively support](https://consumerdatastandardsaustralia.github.io/standards/#client-authentication) `urn:ietf:params:oauth:client-assertion-type:jwt-bearer`.

It seems likely at least some holders will be using the same realm/profile for auth related to the CDR irrespective of whether it is the Register or Recipient accessing things. This is impossible to achieve while complying with both security profiles.

It seems the ACCC has not aligned with the DSB. The end result is now a double build, one for CDS Recipients and one for CDS Register. Besides cost impacts this is a _bad idea_ on the basis that the register will now be accessing completely separated infrastructure to participants (ie. no guarantee the service is actually being delivered).

Mk 2, I'll give more comments once I've gone in more depth on this however this profile states:
`Access Token will be requested as per the Assertion Framework for OAuth2 Client Authentication profile`

It is assumed that Holders will potentially use the same auth/realm/infra build for Register and Recipient comms however, the CDS [has modified](https://consumerdatastandardsaustralia.github.io/standards/#client-authentication) this [standard](https://tools.ietf.org/html/rfc7523) and the related [OpenID Core standard](https://openid.net/specs/openid-connect-core-1_0.html) in (at least) the following ways:

- The CDS use an `iss` that is equal to `client-id` for non "request object" request/responses
- The CDS removes `iss` entirely from Request Object (see below)
- The CDS changes `updated_at` to be a mandatory claim, this is not reflected in the Register design
- The CDS specifies that the usually optional scope of `profile` is mandatory, scopes for metadata requests do not appear to be documented in the Register
- Either LoA or `acr` based claims MUST be supported (one of) in the CDS, this is not documented in the Register spec

Further the spec has the following immediate discrepancies:

1) The example `iss` and `sub` are of potentially invalid value as per [Section 3 of RFC7523](https://tools.ietf.org/html/rfc7523#section-3)
2) The example for `/admin/registry/metadata` appears to actually be a token authorisation request object which should be done at the `/token` endpoint of the Holder and then a matching request demonstrating the retrieval (using a Bearer token presumably) to the metadata endpoint
3) Assuming (2) is accurate, `jti` is being used for replay protection and should be passed through (after token obtainment)
4) Assuming (2) is accurate the CDS [removes](https://consumerdatastandardsaustralia.github.io/standards/#request-object) `iss` in violation of [OIDC Core 3.3.2.1](https://openid.net/specs/openid-connect-core-1_0.html#HybridAuthRequest). The Register example appears to comply with the OIDC Core specification

Suggest that all parties _ALIGN_ to the existing international standards rather than arbitrarily modify them as this results in inconsistencies which have literally been demonstrated by this section.




**ACCC Certificate Requirements**

Are DH and DR required to check status of each others' certificates on every handshake with OCSP Server and only use cache if OCSP server is down? Also any indication on how OCSP server will be accessed ?


- Could client certificates used during mutual authentication please include the data recipient's identifier (RegisterDataRecipient.id)?
- Could you please advise when ACCC will be providing a process for SSL certificate signing for Industry Testing?
- Is the CDR JWKS end point secured with mutual authentication? I.e. for: _CDR Register public keys MUST only be obtained from the exposed endpoint_ https://cdr-register.github.io/register/#client-authentication

Hi there, related to https://github.com/ConsumerDataStandardsAustralia/standards-maintenance/issues/35 could some guidance be given as to whether the Register intends to support now and/or in the future issuance of certificates using elliptic curve (ECDSA) signatures along with assumed default RSA support?