private_key_jwt audience setting

As per RFC7523 3.3:

> The JWT MUST contain an "aud" (audience) claim containing a value that identifies the authorization server as an intended audience.  **The token endpoint URL of the authorization server MAY be used as a value for an "aud" element to identify** the authorization server as an intended audience of the JWT.  The authorization server MUST reject any JWT that does not contain its own identity as the intended audience. In the absence of an application profile specifying otherwise, compliant applications MUST compare the audience values using the Simple String Comparison method defined in Section 6.2.1 of RFC 3986 [RFC3986].  As noted in Section 5, **the precise strings to be used as the audience for a given authorization server must be configured out of band by the authorization server and the issuer of the JWT**.

Could the ACCC confirm that the `aud` value expected is the token endpoint URL of the authorization server when performing client credentialing for `private_key_jwt`?

The example given specifies `  "aud": "https://cdr.register/idp/connect/token",` which leads me to think the answer is "Yes" but this is never explicitly called out from what I can tell.


_Preamble: Biza currently has 16 open issues on CDR Register (and had until cleanup 42 on CDSA Standards). In an effort to optimise our own backlog we are closing those which have none or limited response from the ACCC. They may be reopened at a later time or referenced when the issues are highlighted by third parties._

No response has been provided. [Thumb](https://github.com/bizaio/thumb) assumes compliance with RFC7523.
