Potential for duplicate kid's

The [Register Endpoints sequence](https://cdr-register.github.io/register/#register-endpoints) diagram specifies `lookup(kid)` which implies that a `kid` is never duplicated within a JWKS. The specification governing this **does not** specify that a `kid` is truly unique as it may be duplicated when different `alg` parameters are present.

The FAPI WG discussed this today in the context of a conformance test [that was introduced](https://bitbucket.org/openid/fapi/issues/278/duplicate-kids-in-authorization-servers) recently to enforce `kid` uniqueness. The general consensus was that, in fact, since the specification does not explicitly exclude duplicate `kid` then the conformance test should not consider this a fail. Notably vendor participants noted there are legitimate reasons for duplicate `kid`'s in JWKS.

On this basis could the ACCC clarify whether they intend to continue keying off `kid` as per the sequence diagram and therefore not allow Recipients to potentially supply duplicate `kid`?


@perlboy The sequence diagram provides a guideline on implementation as opposed to mandating the approach,  but yes, the assumption was that the `kid` would not be duplicated and therefore a lookup could be performed. It is unfortunate that interpretation of the term ID is now required.

It's for the DSB to define the standard but given that it looks like FAPI-WG intends to document a [key selection algorithm](https://bitbucket.org/openid/fapi/issues/279/key-selection-algorithm), I suspect we would defer to this. 

Looking at RFC 7517 [section 4](https://tools.ietf.org/html/rfc7517#section-4), there looks to be more than the `kid` and `alg` values in play. The `kty` parameter could also be considered in the key selection algorithm. Given the number of inputs is ill-defined, I'm reluctant to document how the key can be derived as that may be interpreted as specification of the selection algorithm. I will however update the documentation outlining that the `kid` parameter is not unique and therefore duplicate values need to be handled

@perlboy Thankyou for your contributions on this issue.
This has now been resolved and documented in release 1.1.1.

Closing as complete